
/* Main content area */
.main-content {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Page title style */
.page-title {
  color: #253228;
  font-weight: bold;
  margin-top: 0;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 32px;
}
